html {
  color:#0002a7;
  margin:20px ;
}

li {
  list-style-type: circle;
}

h1,h2 {
  font-style:italic;
  font-family:Garamond, serif;
}

h1 {
  text-align:center;
  font-size:30px;
  padding:25px;
  margin:70px 19% 70px 19%;
  border:1px solid black;
  border-radius:30px;
}

h2 {
  font-size:25px;
}



li, p {
  font: 100 15px monospace;
}

a {
  color:#0002a7;
}
© 2021 GitHub, Inc.
